<p id="notice"><%= notice %></p>

<h1>Catogaries</h1>

<table>
  <thead>
    <tr>
      <th>Tenloai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catogaries.each do |catogary| %>
      <tr>
        <td><%= catogary.tenloai %></td>
        <td><%= link_to 'Show', catogary %></td>
        <td><%= link_to 'Edit', edit_catogary_path(catogary) %></td>
        <td><%= link_to 'Destroy', catogary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catogary', new_catogary_path %>
