<div class="all">
<fieldset class="col-sm-2">
<legend>Thể loại sách</legend>
<ul class=" infb slide_loai">
<% @indentifies.each do |indentify| %>
    <li class="loai" data-loai="<%= indentify.id %>"><%= indentify.tenloai %></li>
<% end %>
</filedset>
<ul>    
</div>
<div class ="container">
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <% @indentifies.each do |indentify| %>
        <div class="col-sm-4 infb">
        <div><a href="/indentifies/<%= indentify.id %>"><image src="/uploads/images/<%= indentify.picture %>" class="image"></a></div>
        <div>
        <div>Mã sách : <%= indentify.indentify_code %></div>
        <div>Tên sách : <%= indentify.tieude %></div>
        <div>Tác giả : <%= indentify.tacgia %></div>
        
        <div>Loại : <%= indentify.tenloai %></div>
        <div><button class="muon" data-book-id="<%= indentify.book_id%>" value = "<%= indentify.id%>"   data-user-id="<%= session[:user_id]%>">Mượn</button></div>
       </div>
             
    </div>
   

    <% end %>
 
    <%= will_paginate%>
  </div>
</div>
<div id="tam"></div>
<script>
   $(document).ready(function() {
            $(".muon").click(function() {
                indentify_id = $(this).val();
                user_id = $(this).attr('data-user-id');
                book_id = $(this).attr('data-book-id');
                mydata = {
                    borrow: {
                        user_id: user_id,
                        soluongmuon: 1,
                        indentify_id: indentify_id,
                        book_id: book_id,
                    }
                };

                $.ajax({
                    type: 'POST',
                    url: "/borrows",
                    data: mydata,
                    success: function(repsonse) {
                        alert("Mượn thành công");
                        location.reload();
                    },
                    error: function(repsonse) {
                        alert("Sách này đã được mượn");
                    }
                })
            });
            $(".loai").click(function() {
                $(".all").hide();
                catogary_id = $(this).attr('data-loai');
               mydata = {
                   indentify:{
                    indentify_code:1 ,
                    book_id: 1, 
                    catogary_id:catogary_id
                   }
               }
               console.log(catogary_id);
                $.ajax({
                    type: 'GET',
                    url: "/indentifies/"+catogary_id,
                    success: function(repsonse) {
                        console.log(repsonse);
                    },
                    error: function(repsonse) {
                    }
                })
            });




});
   </script>