<div class ="container">
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <% @books.each do |book| %>
        <div class="col-sm-3 infb">
        <div style = "text-align: center; color:black"><%= image_tag(book.picture.url, width: '80%') if book.picture? %></div>
        <div style = "text-align: center; color:black">Tên sách : <%= book.tieude %></div>
        <div style = "text-align: center; color:black">Tác giả : <%= book.tacgia %></div>
        <div style = "text-align: center; color:black">Năm xuất bản: </div> 
        <div style = "text-align: center; color:black"><%= book.namxuatbang %></div>
        <div style = "text-align: center; color:black"><button class="muon" value = "<%= book.id%>">Mượn</button>
          </div>        
    </div>
    <% end %>
    </div>
    <span> trang </span>
    <%= will_paginate %>
  </div>
</div>