<p id="notice"><%= notice %></p>

<h1>Indentifies</h1>

<table>
  <thead>
    <tr>
      <th>Indentify code</th>
      <th>Book</th>
      <th>Tac gia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indentifies.each do |indentify| %>
      <tr>
        <td><%= indentify.indentify_code %></td>
        <td><%= indentify.tieude %></td>
        <td><%= indentify.tacgia %></td>
        <td><%= indentify.namxuatbang %></td>
        <td><%= link_to 'Show', indentify %></td>
        <td><%= link_to 'Edit', edit_indentify_path(indentify) %></td>
        <td><%= link_to 'Destroy', indentify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indentify', new_indentify_path %>
