<div class ="container">
<p id="notice"><%= notice %></p>

<h3 class="w3-center">Thống kê các sách</h3>

<table class="tablest">
  <thead>
    <tr>
      <th>Mã sách</th>
      <th>Tên sách</th>
      <th>Tác giả</th>
      <th>Năm xuất bản</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indentifies.each do |indentify| %>
      <tr>
        <td><%= indentify.indentify_code %></td>
        <td><%= indentify.tieude %></td>
        <td><%= indentify.tacgia %></td>
        <td><%= indentify.namxuatbang %></td>
        <% unless current_user.admin %>
        <td ><button><%= link_to 'Xem thông tin sách', indentify %></button></td>
        <% end %>
        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_indentify_path(indentify) %></td>
        <td><%= link_to 'Destroy', indentify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>       
      </tr>
      <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

<%= link_to 'New Indentify', new_indentify_path %>
</div>