<p id="notice"><%= notice %></p>
   <% @indentifies.each do |indentify| %>
      <tr>
        <td><%= indentify.indentify_code %></td>
        <td><%= indentify.tieude %></td>
        <td><%= indentify.tacgia %></td>
        <td><%= indentify.namxuatbang %></td>
        <% end %>
</p>

<%= link_to 'Edit', edit_indentify_path(@indentify) %> |
<%= link_to 'Back', indentifies_path %>
