<h3 class="w3-center">Cập nhập thông tin sinh viên</h3>

<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'shared/thongbaoloi', object: form.object %>

    <div class="field">
    <%= form.label :"Họ Tên" %>
    <%= form.text_field :hoten %>
    </div>

    <div class="field">
    <%= form.label :"Mật khẩu" %>
    <%= form.password_field :password %>
    </div>

    <div class="field">
    <%= form.label :"Số điện thoại" %>
    <%= form.text_field :sdt %>
    </div>
    
    <div class="field">
    <%= form.label :"Địa chỉ" %>
    <%= form.text_field :thuongtru %>
    </div>

    <div class="field ngaysinh">
    <%= form.label :"namsinh_at", "Năm sinh" %>
    <%= form.date_select :namsinh_at %>
    </div>

  <div class="field">
    <%= form.submit :"Sửa" %>
  </div> 
<% end %>
<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
