<%= render 'users/menuuser' %>
<div class="container">
<p id="notice"><%= notice %></p>

<h3 class="w3-center">Danh sách người đọc đã đăng ký</h3>

<%= form_tag(users_path, method: :get) do %>
<%= text_field_tag :timkiem , params[:timkiem] %>
<%= submit_tag 'Tìm kiếm', hoten: nil %>
<% end %>

<table class="tablest" style="margin-top:20px ">
  <thead>
    <tr>
      <th >STT</th>
      <th >Họ và tên</th>
      <th >Địa chỉ mail</th>
      <th >Mã số </th>
      <th >Lớp</th>
      <th >Chức vụ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="tablest">
  <% i = 0 %>
  <% @users.each do |user| %>
    <tr>
        <td><%= i+=1 %></td>
        <td ><%= user.hoten %></td>
        <td ><%= user.email %></td>
        <td ><%= user.masv %></td>
        <td ><%= user.lop %></td>
        <% if user.admin == true %>
        <td>Quản lý</td>
        <% else %>
        <td>Người mượn </td> 
        <% end %>
        <td><%= link_to 'Thông tin', user %></td>
        <td ><%= link_to 'Sửa', admin_edit_user_path(current_user) %></td>
        <td><%= link_to 'Xóa', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Thêm người dùng', new_user_path %>
</div>
<script>
$(document).ready(function(){
  $(".ad").click(function(){
    id= $(this).attr("data-id");
    mydata = {
      user:{
      admin: 1,
        
      }
    };
     console.log(mydata);
    $.ajax({
      type: 'PATCH',
      url: "/users/"+id,
      data: mydata,
      success: function(repsonse) {
          alert("Trở thành quản lý");
      },
      error: function(repsonse) {
      }
  })
    });
});
</script>