<p id="notice"><%= notice %></p>

<h3 class="w3-center">Tất cả sách</h3>
<div style="margin-bo ttom: 30px">
<%= form_tag(books_path, method: :get) do %>
<%= text_field_tag :timkiembooks , params[:timkiembooks] %>
<%= submit_tag 'Tìm kiếm', tieude: nil %>
<% end %>
</div>

</div>
<table class="tablest">
  <thead>
    <tr>
      <th >Tiêu đề</th>
      <th >Tác giả</th>
      <th >Năm xuất bản</th>
      <th >Loại sách</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="tablest">

    <% @books.each do |book| %>
      <tr>
        <td ><%= book.tieude %></td>
        <td ><%= book.tacgia %></td>
        <td ><%= book.namxuatbang %></td>
        <td><%= link_to 'Thông tin', book %></td>
        
        <td><%= link_to 'Xóa', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
