<%= form_with(model: borrow, local: true, remote: true) do |form| %>
  <% if borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
      <% borrow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :soluongmuon %>
    <%= form.number_field :soluongmuon %>
  </div>

  <div class="field">
    <%= form.label :indentify_id %>
    <%= form.text_field :indentify_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
