<p id="notice"><%= notice %></p>

<h1>Borrows</h1>

<table>
  <thead>
    <tr>
      <th>Mã sách</th>
      <th>User_id</th>
      <th>Soluongmuon</th>
      <th>Indentify</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
      <tr>
        <td><%= borrow.indentify_code %></td>
        <td><%= borrow.user_id %></td>
        <td><%= borrow.soluongmuon %></td>
        <td><%= borrow.indentify_id %></td>
        <td><%= link_to 'Show', borrow %></td>
        <td><%= link_to 'Edit', edit_borrow_path(borrow) %></td>
        <td><%= link_to 'Destroy', borrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrow', new_borrow_path %>
