<%= render 'users/menusach' %>
<div class='container'>
<p id="notice"><%= notice %></p>

<h3 class="w3-center">Danh sách trạng thái mượn</h1>

<table class="tablest">
  <thead>
    <tr>
      <th>STT</th>
      <th>Mã sách</th>
      <th>Tên sách</th>
      <th>Ngày mượn</th>
      <th>Tình trạng</th>
     
    </tr>
  </thead>

  <tbody>
  <% i = 0 %>
    <% @borrows.each do |borrow| %>
      <tr>
      <td><%= i+=1 %></td>
        <td><%= borrow.indentify_code %></td>
        <td><%= borrow.tieude %></td>
        <td><%= borrow.created_at %></td>
        <% if borrow.mode == 0 %>
        <td><span class="tinhtrang" > Chưa được mượn </button></td>
        <% else if borrow.mode == 1  %>
        <td><span class"tinhtrang" > Đang mượn</button></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate%>

</div>