<% if logged_in? %>
<div id="menu1">
<ul>
<% if current_user.admin %> 
<li><a><%= link_to 'Xem tất cả người dùng' , users_path %></a>
<li><a><%= link_to 'Thông tin về sách' , thongtinsach_path %></a>
<li><a><%= link_to 'Thêm sách' , themmoi_path %></a>
<li><a><%= link_to 'Thể loại sách' , loaimoi_path %></a>
<li><a><%= link_to 'Phân loại sách' , nhandangmoi_path %></a>
<li><a><%= link_to 'Xem tất cả sách' , books_path %></a>
</li>
</ul>
<% end %>
<% unless current_user.admin %> 
<li><a><%= link_to 'Xem thông tin tài khoản' , current_user %></a></li>
<li><a><%= link_to 'Trang chủ' , sach_path %></a></li>
<% end %>
</ul>
<% end %>